ion-content {
    --background: #F2F2F4;
}
.main_content_div {

    ion-label {
        display: block;
    }

    .back_img {
        width: 100%;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .grey_div {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to top,rgba(0,0,0,0.5), transparent);
            position: relative;
            padding: 16px;

            .abs_div {
                position: absolute;
                bottom: 16px;
                .yellow_div {
                    width: 50px;
                    height: 3px;
                    background: var(--ion-color-primary);
                    margin-bottom: 5px;
                }

                .bold_lbl{
                    color: white;
                    font-size: 16px;
                    font-family: 'semi-bold';
                }
                .small_lbl {
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }

    .content_div {
        padding: 16px;

        ion-col {
            padding: 0;
            padding-bottom: 16px;
        }
        .left-pad {
            padding-left: 8px;
        }
        .right-pad {
            padding-right: 8px;
        }
    }
}