<ion-content>
  <div class="main_content_div">
    <ion-label class="bold_lbl">Login</ion-label>
    <ion-input type="text" placeholder="Email"></ion-input>
    <ion-input type="text" placeholder="Password"></ion-input>
    <ion-label class="forgot_lbl" (click)="goToForgot()">Forgot Password ?</ion-label>
    <ion-button expand="block" (click)="goToTabs()">
      Login
    </ion-button>
    <ion-label class="bottom_lbl" (click)="goToRegister()">Create your account!</ion-label>
  </div>
</ion-content>