ion-content {
    --background: #F2F2F4;
}
.main_content_div {
    ion-label {
        display: block;
    }
    .card_box {
        margin-bottom: 10px;
        background: white;
        padding: 16px;
        display: flex;

        .back_image {
            height: 100px;
            width: 100px;
            min-width: 100px;
            border-radius: 5px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .detail_div {
            padding-left: 10px;
            position: relative;

            .bold_name {
                font-family: 'semi-bold';
            }
            .grey_lbl {
                font-size: 14px;
                color: grey;
            }
            .addr_lbl {
                font-size: 14px;
                color: grey;
                margin-top: 5px;
            }

            .color_box {
                border-radius: 3px;
                background: var(--ion-color-primary);
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;

                ion-label {
                    color: white;
                    text-align: center;
                    font-size: 14px;
                }
            }

            ion-icon {
                color: cadetblue;
                position: absolute;
                font-size: 20px;
                right: 0;
                bottom: 7px;
            }
        }
    }
}