<ion-content>
    <div class="main_content_div">
        <ion-label class="bold_lbl">Welcome to <br> Foodies</ion-label>
        <ion-label class="grey_lbl">Create your account</ion-label>
        <ion-input type="text" placeholder="Username"></ion-input>
        <ion-input type="text" placeholder="Email"></ion-input>
        <ion-input type="text" placeholder="Password"></ion-input>
        <ion-button expand="block" (click)="goToMobileVerify()">
            Sign up
        </ion-button>
        <ion-label class="forgot_lbl">Terms & Conditions</ion-label>
        <ion-label class="bottom_lbl" (click)="goToLogin()">Login to your account</ion-label>
    </div>
</ion-content>
