<ion-content>
    <div class="main_content_div">
        <ion-label class="title_lbl">Filter</ion-label>
        <ion-label class="grey_lbl">Quick Filter</ion-label>

        <ion-list lines="full">
            <ion-item>
              <ion-label>Rated 5</ion-label>
              <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Rated 4+</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Rated 3+</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
        </ion-list>

        <ion-label class="grey_lbl">Sort By</ion-label>

        <ion-list lines="full">
            <ion-item>
                <ion-label>Close to me</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Price high to low</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Price low to high</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
        </ion-list>

        <ion-button expand="block" class="apply_btn">
            Apply
        </ion-button>

        <ion-button expand="block" fill="clear" class="clear_btn">
            Clear
        </ion-button>

    </div>
</ion-content>
