<ion-header mode="ios">
    <ion-toolbar>
        <ion-button (click)="goBack()" slot="start" fill="clear">
            <ion-icon name="arrow-back-sharp" style="color: black;"></ion-icon>
        </ion-button>
        <ion-title>Payment</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    
  <div class="main_content_div">
  
      <ion-label class="welcome_lbl">Payment</ion-label>
  
      <ion-label class="amount_lbl">Amount Payable <span>Rs. 1040</span></ion-label>
      
  
      <div class="flex_div" (click)="payID = 1">
          <div class="round_div">
              <img src="assets/imgs/stripe.png" alt="">
          </div>
          <ion-label>Pay with stripe</ion-label>
      </div>
  
      <div class="content_div" *ngIf="payID == 1">
          
          <ion-radio-group value="card1" mode="md">

              <div class="card_div">
                  <ion-radio value="card1"></ion-radio>
                  <div>
                    <ion-label class="small_lbl">Personal</ion-label>
                    <ion-label class="card_lbl">XXXX-XXXX-XXXX-1234</ion-label>
                  </div>
              </div>

              <div class="card_div">
                  <ion-radio value="card2"></ion-radio>
                  <div>
                    <ion-label class="small_lbl">Office</ion-label>
                    <ion-label class="card_lbl">XXXX-XXXX-XXXX-1234</ion-label>
                  </div>
              </div>

              <div class="card_div">
                  <ion-radio value="card3"></ion-radio>
                  <div>
                    <ion-label class="small_lbl">Father</ion-label>
                    <ion-label class="card_lbl">XXXX-XXXX-XXXX-1234</ion-label>
                  </div>
              </div>

          </ion-radio-group>
          
          <ion-button expand="block" (click)="goToSuccess()">
              Pay
          </ion-button>
      </div>
  
      <div class="flex_div" (click)="payID = 2">
          <div class="round_div">
              <img src="assets/imgs/paypal.png" alt="">
          </div>
          <ion-label>Pay with Paypal</ion-label>
      </div>
  
      <div class="content_div" *ngIf="payID == 2">
          <ion-input type="text" placeholder="Paypal ID"></ion-input>
          <ion-button expand="block" (click)="goToSuccess()">
              Pay
          </ion-button>
      </div>
  
      <div class="flex_div" (click)="payID = 3">
          <div class="round_div">
              <img src="assets/imgs/cod.png">
          </div>
          <ion-label>Cash on Delivery</ion-label>
      </div>
  
      <div class="content_div" *ngIf="payID == 3">
          <ion-button expand="block" (click)="goToSuccess()">
              Pay
          </ion-button>
      </div>
  
  </div>
  </ion-content>
